<!DOCTYPE html>
<html lang="pt" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Projeto Academy</title>
<meta name="author" content="Francisco Leocassio" />
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/style.css" />
</head>
<body>

	<div th:replace="fragmentos/fragmentos :: cabecalho">
	
	</div>


	<section class="neo-section"
		style="background-image: url('img/bg-index.jpg');">

		<div class="sombra"></div>
		<div class="center neo-container">
			<h1 class="texto-centro">Sistema de Gerenciamento de Estudantes</h1>

			<div class="botoes" style="text-align: center;">
				<div class="btn-group wm" role="group" aria-label="Terceiro grupo"
					style="padding-left: 30px;">
					<button class="btn btn-primary">Cadastrar Aluno</button>
				</div>
				<div class="btn-group wm" role="group" aria-label="Terceiro grupo"
					style="padding-left: 30px;">
					<button class="btn btn-success ">Encontrar Aluno</button>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</section>
	
	<div th:replace="fragmentos/fragmentos :: rodape">
	
	</div>
	

	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>